@model SignatureStatement

@{
    ViewData["Title"] = "Display Verify result";
}

<h1>Verify Results</h1>
<p>Signature ID</p>
<p>@Model.Id</p>
<p>User ID</p>
<p>@Model.UserId</p>
<p>User Name</p>
<p>@Model.Username</p>
<p>Files</p>
<p>@Model.Files</p>
<p>Digest</p>
<p>@Model.MessageDigest</p>
<p>Signed on</p>
<p>@Model.SignedOn</p>


